
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Withdraw money</h2>

<form action="/WithDrawing/Index" method="post">
    Enter amount of cash you wish to withdraw:<input value="@ViewBag.amout" type="text" name="str_amount" /></be>
    <button>Confirm</button></br>
    @ViewBag.err
</form>

