@using Project4Aptech.Models
@{
    ViewBag.Title = "Home Page";
    var logged = (Account)Session["logged"];
}
    Your balance:
<input type="password" readonly value="@logged.Customers.balance VND" id="myInput">
<br>
<br>
<input type="checkbox" onclick="myFunction()">Show/Hide <ul>
    <li>
        <a>Deposit cash</a>
    </li>
    <li>
        <a href="/WithDrawing/Index">Withdraw cash</a>
    </li>
    <li>
        <a>Transaction history</a>
    </li>
</ul>
@if (ViewBag.ss != null)
{
    <a>@ViewBag.ss </a>
}
@if (ViewBag.fl != null)
{
    <a>@ViewBag.fl </a>
}
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>