@using Project4Aptech.Models
@{
    ViewBag.Title = "Home Page";
    var logged = (Account)Session["logged"];
}
<style>
    .heading_main h2::after {
        width: auto;
        transform:none;
    }
</style>

<div class="section layout_padding about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2>Service</h2>
                    </div>
                    <!--<input type="checkbox" onclick="myFunction()">Show/Hide-->

                    <div class="heading_main text_align_left">
                        <h2><a href="/Accounts/ChuyenTien/@logged.id">Deposit cash</a></h2>
                    </div>
                    <div class="heading_main text_align_left">
                        <h2><a href="/WithDrawing/Index">Withdraw cash</a></h2>
                    </div>
                    <div class="heading_main text_align_left">
                        <h2><a href="~/TransactHis/Index/@logged.Customers.Id">Transaction history</a></h2>
                    </div>

                    <div class="heading_main text_align_left">
                        <h2>
                            Your balance:
                            <span id="myInput">@ViewBag.balance </span> VND
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.fl != null)
{
    <a>@ViewBag.fl </a>
}
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
