@using Project4Aptech.Models
@{
    ViewBag.Title = "Home Page";
    var logged = (Account)Session["logged"];
}

<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" style="        background-image: url(../../Images/slide_img.png);">

                </div>
                <div class="pogoSlider-slide" style="        background-image: url(../../Images/slide_img_1.png);">
                    <div class="container">

                    </div>
                </div>
            </div>
            <!-- .pogoSlider -->
        </div>
    </div>
</div>

    Your balance:
<input type="password" readonly value="@ViewBag.balance VND" id="myInput">
<br>
<br>
<input type="checkbox" onclick="myFunction()">Show/Hide
<ul>
    <li>
        <a href="/Accounts/ChuyenTien/@logged.id">Deposit cash</a>
    </li>
    <li>
        <a href="/WithDrawing/Index">Withdraw cash</a>
    </li>
    <li>
        <a href="~/TransactHis/Index/@logged.Customers.Id">Transaction history</a>
    </li>
</ul>
@if (ViewBag.fl != null)
{
    <a>@ViewBag.fl </a>
}
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>